nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rosybrown
  }
  
  .logo img {
    height: 60px;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }